@media (min-width: 5px){
.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    }}
@media (min-width: 1200px){
	.midpic{
		height:13.3em;
	}
}
@media (max-width: 1199px){
	.midpic{
		height:11.2em;
	}
}
@media (min-width: 200px) and (max-width: 992px){
	.midpic{
		height:8.4em;
	}
}

body{
	background-color:  #516065;
	color: black;
		
}
h5{
	font-weight: 600;
}
h2{
	color: white;
}
.bg-light {
    background-color: #929da1!important;
}

@media (max-width: 992px){

.homebtnborder{
	width:3em;
}
}
